<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Bienvenue</h4>
    <p>
      Notre application sert à gérer la gestion des films :  vous pouvez afficher,ajouter,modifier et supprimer un film.
    </p>
    <p>
      Vous pouvez chercher votre film par titre,réalisateur,date de sortie ou bien par type. 
    </p>
    <p>
      Vous pouvez trier la liste des films par titre,réalisateur,date de sortie ou bien par type. 
    </p>

    <hr>
    <p class="mb-0">
    </p>
        <p>
        Le backend de notre application est développé en Spring Boot. 
      </p>
        <p>
        Le frontend est développé en Angular 8. 
      </p>
        <p>
        L'échange des données entre le front et le back se fait avec des services rests.
      </p>
        <p>
      Les données sont stockées dans un fichier .json. 
      </p>
  
  </div>